.header-logo, .footer-logo {
  color: #02ccba;
}

header {
  background-color: #E6E6E6;
}

.header-list li{
}

footer {
  background-color: #E6E6E6;
}

body {
    list-style:none;
    font-family: serif;
}

span {
  float: right;
}

.section {
  border-bottom: 1px solid #a2a9b1;
}

.gray {
  background-color: #ceccf3;
}
