.header-logo {
  color: #02ccba;
}

header {
  font-family: serif;
}

.header-list li{
  float: left;
}

.footer-list li{
  float: right;
}

*{
    list-style:none;
    font-family: serif;
    box-sizing: border-box;
}

.kajin{
  float: right;
}
